@import "./base.css";
body {
  background-color: #f37e01;
  background: linear-gradient(-45deg, #f37e01 0%, #f5ae00 100%);
}
#app div.n-page-header {
  padding: 1rem;
}
#app > div.n-space {
  max-width: 1200px;
  width: 1200px;
  padding: 2rem;
  margin: 0 auto;
}
strong {
  font-weight: 500;
  border-bottom: 1px dotted #ccc;
}
a {
  color: #000;
  text-decoration: none;
}
@media screen and (min-width: 800px) {
  .hide-on-large {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.5rem;
  }
  hr {
    margin: 0.2rem 0;
    border: 0;
    border-top: 1px solid #000;
  }
  .hide-on-small {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  #app > div.n-space {
    width: auto;
    padding: 0.5rem;
  }
}
#app > div.n-space > div > div.n-layout {
  border-radius: 1rem;
  padding: 1rem;
}
