<template>
  <n-layout>
    <div class="about">
      <h1>Recipes</h1>
      <n-collapse>
        <n-collapse-item title="Filter by tags">
          <n-space style="margin-bottom: 0.5rem">
            <n-tag
              v-for="(tag, index) in cookbook.tags"
              :key="index"
              :type="getType(tag)"
              @click="addTag(tag)"
              >{{ tag }}</n-tag
            >
          </n-space>
        </n-collapse-item>
        <n-collapse-item title="Filter by ingredients">
          <n-space style="margin-bottom: 0.5rem">
            <n-tag
              v-for="(ingredient, index) in cookbook.ingredients"
              :key="index"
              @click="addIngredient(ingredient)"
              :type="getIngredientType(ingredient)"
            >
              {{ ingredient.title }}
            </n-tag>
          </n-space>
        </n-collapse-item>
      </n-collapse>
      <n-grid x-gap="12" y-gap="12" cols="1 xs:1 s:2 m:3" responsive="screen">
        <n-gi v-for="(recipe, index) in cookbook.getRecipes()" :key="index">
          <n-card size="medium">
            <router-link :to="{ name: 'recipe', params: { id: recipe.id } }">
              <h2>
                <n-icon>
                  <menu-book-filled></menu-book-filled>
                </n-icon>
                {{ recipe.title }}
              </h2>
            </router-link>
            <n-space>
              <n-tag v-for="(tag, index) in recipe.tags" :key="index">{{ tag }}</n-tag>
            </n-space>
            <div v-html="recipe.description"></div>
          </n-card>
        </n-gi>
      </n-grid>
    </div>
  </n-layout>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { MenuBookFilled } from "@vicons/material";
import { useCookbook } from "../stores/cookbook";
import type { Ingredient } from "../interfaces/ingredient";

export default defineComponent({
  components: { MenuBookFilled },
  methods: {
    getType(tag: string) {
      const foundTag = this.cookbook.selectedTags.find(
        (t: string) => t === tag
      );
      if (foundTag !== undefined) {
        return "success";
      }
      return "default";
    },
    addTag(tag: string) {
      const foundTag = this.cookbook.selectedTags.find(
        (t: string) => t === tag
      ) as string | undefined;
      if (foundTag === undefined || !(foundTag === tag)) {
        this.cookbook.selectedTags.push(tag);
      } else {
        this.cookbook.selectedTags.splice(
          this.cookbook.selectedTags.indexOf(tag),
          1
        );
      }
    },
    getIngredientType(ingredient: Ingredient) {
      if (this.cookbook.selectedIngredients.indexOf(ingredient) !== -1) {
        return "success";
      }
      return "default";
    },
    addIngredient(ingredient: Ingredient) {
      if (this.cookbook.selectedIngredients.indexOf(ingredient) === -1) {
        this.cookbook.selectedIngredients.push(ingredient);
      } else {
        this.cookbook.selectedIngredients.splice(
          this.cookbook.selectedIngredients.indexOf(ingredient),
          1
        );
      }
    },
  },
  setup() {
    const cookbook = useCookbook();
    return { cookbook };
  },
});
</script>
