<template>
  <n-layout>
    <n-layout-header>
      <h1>
        <router-link to="/">
          <n-icon>
            <arrow-back-ios-filled></arrow-back-ios-filled>
          </n-icon>
        </router-link>
        {{ recipe.title }}
      </h1>
      <h2>Serves: <strong>{{ recipe.serves }}</strong> Time to cook: <strong>{{ recipe.time_to_cook }}</strong></h2>
      <p>{{ recipe.description }}</p>
    </n-layout-header>
    <n-space style="margin: 0.5rem 0;">
      <n-tag v-for="(tag, index) in recipe.tags" :key="index">{{ tag }}</n-tag>
    </n-space>
    <n-card size="small" v-for="(method, index) in recipe.methods" :key="index" :segmented="{ content: true }"
      :title="method.title">
      <n-layout has-sider class="hide-on-small">
        <n-layout-sider>
          <ul>
            <li v-for="(ingredient, index) in method.ingredients" :key="index">
              {{ ingredient.quantity }}
              {{ ingredient.unit }}
              {{ ingredient.title }}
            </li>
          </ul>
        </n-layout-sider>
        <n-layout-content>
          <div v-html="method.method_parsed"></div>
        </n-layout-content>
      </n-layout>
      <n-layout class="hide-on-large">
        <n-layout-content>
          <h3>Ingredients</h3>
          <ul>
            <li v-for="(ingredient, index) in method.ingredients" :key="index">
              {{ ingredient.quantity }}
              {{ ingredient.unit }}
              {{ ingredient.title }}
            </li>
          </ul>
          <hr />
          <div v-html="method.method_parsed"></div>
        </n-layout-content>
      </n-layout>
      <n-layout>
        <n-layout-header> Notes </n-layout-header>
        <n-layout-content>
          <div v-html="recipe.notes"></div>
        </n-layout-content>
      </n-layout>
    </n-card>
  </n-layout>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useCookbook } from "../stores/cookbook";
import { ArrowBackIosFilled } from "@vicons/material";
import type { Recipe } from "../interfaces/recipe";

declare interface DataObject {
  recipe: Recipe;
}

export default defineComponent({
  components: { ArrowBackIosFilled },
  data(): DataObject {
    return {
      recipe: {},
    };
  },
  props: ["id_int"],
  setup() {
    const cookbook = useCookbook();
    return { cookbook };
  },
  mounted() {
    this.recipe = this.cookbook.getRecipeById(this.id_int) as Recipe;
  },
});
</script>
