<template>
  <v-app>
    <v-app-bar app color="primary">
      <v-toolbar-title class="headline text-uppercase">
        <span>FN</span>
        <span class="font-weight-light">Cookbook</span>
      </v-toolbar-title>
    </v-app-bar>

    <v-main>
      <v-container>
        <transition :name="transitionType" mode="out-in">
          <router-view />
        </transition>
      </v-container>
      <v-container>
        <transition name="fabcon" appear>
          <v-btn v-if="showNewIcon" fixed bottom right color="secondary" fab @click="editRecipe(0)">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </transition>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  components: {
  },
  data: () => ({
    transitionType: 'slide-left',
    showNewIcon: true,
  }),
  methods: {
    editRecipe(id) {
      this.$router.push({ name: 'edit', params: { recipe_id: id } });
    },
  },
  watch: {
    '$route'(to) {
      if (to.fullPath === '/') {
        this.showNewIcon = true;
        this.transitionType = 'slide-right';
      } else {
        this.showNewIcon = false;
        this.transitionType = 'slide-left';
      }
    }
  },
};
</script>

<style scoped>
.slide-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.slide-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.slide-left-enter-to,
.slide-right-enter-to {
  opacity: 1;
}

.slide-left-leave-to {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.slide-right-leave-to {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.slide-left-enter-active,
.slide-right-leave-active {
  transition: opacity .2s, transform .2s;
}

.fabcon-enter,
.fabcon-leave-to {
  opacity: 0;
  transform: rotate3d(0, 0, 1, 90deg) scale3d(.8, .8, .8);
}

.fabcon-enter-to {
  opacity: 1;
}

.fabcon-enter-active,
.fabcon-leave-active {
  transition: opacity .2s, transform .2s;
}
</style>
