<template>
  <v-app>
    <v-app-bar app color="primary">
      <v-toolbar-title class="headline text-uppercase">
        <span>FN</span>
        <span class="font-weight-light">Cookbook</span>
      </v-toolbar-title>
    </v-app-bar>

    <v-content>
      <v-container>
        <transition :name="transitionType" mode="out-in">
          <router-view />
        </transition>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data: () => ({
    transitionType: 'slide-left',
  }),
  watch: {
    '$route' (to) {
      if (to.fullPath === '/') {
        this.transitionType = 'slide-right';
      } else {
        this.transitionType = 'slide-left';
      }
    }
  },
};
</script>

<style scoped>
.slide-left-enter {
  opacity:0;
  transform: translate3d(100%, 0, 0);
}
.slide-right-enter {
  opacity:0;
  transform: translate3d(-100%, 0, 0);
}
.slide-left-enter-to, .slide-right-enter-to {
  opacity:1;
}
.slide-left-leave-to {
  opacity:0;
  transform: translate3d(-100%, 0, 0);
}
.slide-right-leave-to {
  opacity:0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-enter-active, .slide-right-leave-active {
  transition: opacity .2s, transform .2s;
}

.fabcon-enter, .fabcon-leave-to {
  opacity: 0;
  transform: rotate3d(0, 0, 1, 90deg) scale3d(.8, .8, .8);
}
.fabcon-enter-to {
  opacity: 1;
}
.fabcon-enter-active, .fabcon-leave-active {
  transition: opacity .2s, transform .2s;
}
</style>
