<template>
  <v-container align="center" justify="center">
    <v-list three-line>
      <v-subheader>Recipes</v-subheader>
      <template v-for="(item, index) in items">
        <v-list-item @click="viewRecipe(item.id)" :key="item.id">
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
            <v-list-item-subtitle v-text="item.description" />
          </v-list-item-content>
          <v-list-item-action>
            <v-btn @click="viewRecipe(item.id)" icon>
              <v-icon>mdi-magnify</v-icon>
            </v-btn>
            <v-btn @click="editRecipe(item.id)" icon>
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
        <v-divider v-if="Number(index) + 1 < itemCount" :key="item.id"></v-divider>
      </template>
    </v-list>
  </v-container>
</template>

<script>
export default {
  name: 'RecipeAdmin',
  components: {
  },
  data: () => ({
    items: {},
    itemCount: 0,
  }),
  methods: {
    editRecipe(id) {
      this.$router.push({ name: 'edit', params: { recipe_id: id } });
    },
    viewRecipe(id) {
      this.$router.push({ name: 'recipe', params: { recipe_id: id } });
    }
  },
  mounted() {
    this.$http.get('/fncookbook/load_recipes')
      .then((response) => {
        if (response.statusText == 'OK' && response.data instanceof Object) {
          this.items = response.data;
          this.itemCount = Object.keys(this.items).length
        }
      });
  }
};
</script>