<template>
  <v-container align="center" justify="center">
    <v-card>
      <v-card-title>
        Search
      </v-card-title>
      <v-card-text>
        <v-text-field clearable label="Search" @click:clear="clearSearch" v-model="term" @keyup.enter.native="search">
          <template v-slot:append-outer>
            <transition name="tag-btn">
              <v-btn @click="search" small fab outlined title="Search" v-if="term && term.length">
                <v-icon>mdi-magnify</v-icon>
              </v-btn>
            </transition>
          </template>
        </v-text-field>
        <template v-if="tags.length">
          <v-chip color="accent" label filter filter-icon="mdi-check" :input-value="tag.enabled" @click="updateTag(tag)"
            v-for="tag in tags" :key="tag">{{ tag.tag }}</v-chip>
        </template>
      </v-card-text>
    </v-card>
    <v-list color="info" dark three-line>
      <v-subheader>Recipes</v-subheader>
      <template v-for="(item, index) in items">
        <v-list-item @click="viewRecipe(item.id)" :key="item.id">
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
            <v-list-item-subtitle v-text="item.description" />
          </v-list-item-content>
        </v-list-item>
        <v-divider v-if="Number(index) < itemCount" :key="item.id"></v-divider>
      </template>
    </v-list>
  </v-container>
</template>

<script>
export default {
  name: 'RecipeBook',
  components: {
  },
  data: () => ({
    items: {},
    term: '',
    itemCount: 0,
    tags: {},
  }),
  methods: {
    viewRecipe(id) {
      this.$router.push({ name: 'recipe', params: { recipe_id: id } });
    },
    clearSearch() {
      this.term = '';
      this.search();
    },
    search() {
      const tags = this.tags.filter(t => t.enabled).map(t => t.id).join(',');
      this.$http.get('/fncookbook/load_recipes', {
        params: { 'tags': tags, 'term': this.term }
      })
        .then((response) => {
          if (response.statusText == 'OK' && response.data instanceof Object) {
            this.items = response.data;
            this.itemCount = Object.keys(this.items).length
          }
        });
    },
    updateTag(tag) {
      tag.enabled = !tag.enabled;
      this.search();
    }
  },
  mounted() {
    this.$http.get('/fncookbook/load_recipes')
      .then((response) => {
        if (response.statusText == 'OK' && response.data instanceof Object) {
          this.items = response.data;
          this.itemCount = Object.keys(this.items).length
        }
      });
    this.$http.get('/fncookbook/get_all_tags')
      .then((response) => {
        if (response.statusText == 'OK' && response.data instanceof Object) {
          this.tags = response.data;
        }
      });
  }
};
</script>

<style scoped>
.tag-btn-enter,
.tag-btn-leave-to {
  opacity: 0;
  transform: rotate3d(0, 0, 1, 90deg) scale3d(.8, .8, .8);
}

.tag-btn-enter-to {
  opacity: 1;
}

.tag-btn-enter-active,
.tag-btn-leave-active {
  transition: opacity .2s, transform .2s;
}
</style>