<template>
  <v-container align="center" justify="center">
    <v-row>
      <v-col cols="12">
        <h1>{{ recipe.title }} <v-btn @click="goBack">Back</v-btn>
        </h1>
        <v-divider />
      </v-col>
    </v-row>
    <v-row v-for="method of recipe.methods" v-bind:key="method">
      <v-col cols="12" sm="12">
        <v-card>
          <v-card-title v-text="method.title"></v-card-title>
          <v-card-text>
            <ul>
              <li v-for="ingredient of method.ingredients" v-bind:key="ingredient">{{ ingredient.quantity }}
                {{ ingredient.unit }} {{ ingredient.title }}</li>
            </ul>
            <v-divider />
            <div v-html="method.method_parsed">
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'RecipePage',
  components: {
  },
  methods: {
    goBack() {
      this.$router.push({ name: 'book' });
    }
  },
  data: () => ({
    recipe: {},
  }),
  mounted() {
    this.$http.get('/fncookbook/load_recipe/' + this.$route.params.recipe_id)
      .then((response) => {
        if (response.statusText == 'OK' && response.data instanceof Object) {
          this.recipe = response.data;
        }
      });
  }
};
</script>