<template>
  <v-form>
    <v-app-bar fixed dark color="primary">
      <v-toolbar-title>Recipe &mdash; {{ recipe.title }}</v-toolbar-title>
      <v-spacer />
      <v-btn @click="saveRecipe" title="Save" icon color="white">
        <v-icon>mdi-content-save</v-icon>
      </v-btn>
      <v-btn @click="undoLastAction" v-if="action_stack.length > 0" title="Undo" icon color="white">
        <v-icon>mdi-undo</v-icon>
      </v-btn>
      <v-btn @click="close" title="Close" icon color="white">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-app-bar>
    <v-card>
      <v-card-text>
        <v-container>
          <v-row dense>
            <v-col cols="6" sm="6" md="4">
              <v-text-field label="Title*" v-model="recipe.title" required></v-text-field>
            </v-col>
            <v-col cols="3" sm="3" md="2">
              <v-text-field label="Serves" v-model="recipe.serves"></v-text-field>
            </v-col>
            <v-col cols="3" sm="3" md="2">
              <v-text-field label="Time" hint="How long does this recipe take to make" v-model="recipe.time_to_cook">
              </v-text-field>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="12" sm="12" lg="6">
              <vue-editor v-model="recipe.description"></vue-editor>
            </v-col>
            <v-col cols="12" sm="12" lg="6">
              <vue-editor v-model="recipe.notes"></vue-editor>
            </v-col>
          </v-row>
          <v-row v-if="$route.params.recipe_id > 0">
            <v-col cols="12" sm="12">
              <v-subheader>
                <h3>Tags</h3>
              </v-subheader>
              <v-text-field label="New tag" v-model="tag">
                <template v-slot:append-outer>
                  <transition name="tag-btn">
                    <v-btn @click="addTag" small fab outlined title="Add tag" v-if="tag.length">
                      <v-icon>mdi-plus</v-icon>
                    </v-btn>
                  </transition>
                </template>
              </v-text-field>
              <template v-if="tags.length">
                <v-chip color="accent" close label v-for="tag in tags" :key="tag" @click:close="removeTag(tag.id)">
                  {{ tag.tag }}</v-chip>
              </template>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
    <v-divider></v-divider>
    <v-subheader>
      <h2>Methods</h2>
      <v-btn @click="addMethod" icon>
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-subheader>
    <v-card v-for="(item, index) in recipe.methods" :key="index">
      <v-card-title>
        <v-text-field label="Title*" v-model="item.title" required></v-text-field>
        <v-btn icon color="error" @click="deleteMethod(item.id, index)">
          <v-icon>mdi-delete</v-icon>
        </v-btn>
        <v-chip v-if="item.new !== undefined" small color="success">New</v-chip>
      </v-card-title>
      <v-card-text>
        <v-tabs v-model="item.tab">
          <v-tab :key="item.id + '_method'">Method</v-tab>
          <v-tab :key="item.id + '_ingredient'">Ingredients</v-tab>
        </v-tabs>
        <v-tabs-items v-model="item.tab">
          <v-tab-item :key="item.id + '_method'">
            <v-container>
              <v-textarea label="Method" auto-grow outlined fullwidth rows="3" v-model="item.method" />
            </v-container>
          </v-tab-item>
          <v-tab-item :key="item.id + '_ingredient'">
            <v-subheader>Ingredients <v-btn @click="addIngredient(index)" icon>
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </v-subheader>
            <v-list>
              <v-list-item dense v-for="(ingredient, key) in item.ingredients" :key="key">
                <v-container>
                  <v-row dense>
                    <v-col cols="3" xs="3" sm="3" md="2">
                      <v-text-field label="Qty" v-model="ingredient.quantity"></v-text-field>
                    </v-col>
                    <v-col cols="3" xs="3" sm="3" md="2">
                      <v-text-field label="Unit" v-model="ingredient.unit"></v-text-field>
                    </v-col>
                    <v-col cols="4" xs="5" md="7">
                      <v-text-field label="Title*" v-model="ingredient.title" required></v-text-field>
                    </v-col>
                    <v-col cols="2" sm="1">
                      <v-btn icon color="error" @click="deleteIngredient(index, ingredient.id, key)">
                        <v-icon>mdi-delete</v-icon>
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-container>
                <v-divider></v-divider>
              </v-list-item>
            </v-list>
          </v-tab-item>
        </v-tabs-items>
      </v-card-text>
    </v-card>
    <v-snackbar v-model="snackbar">Recipe saved</v-snackbar>
    <v-snackbar v-model="snackbar_undo" timeout="4000">Item deleted<v-btn dark @click="undoLastAction">Undo</v-btn>
    </v-snackbar>
  </v-form>
</template>

<script>
import { VueEditor } from "vue2-editor";
export default {
  name: 'EditRecipe',
  components: { VueEditor },
  data() {
    return {
      snackbar: false,
      snackbar_undo: false,
      action_stack: [],
      tag: '',
      tags: [],
      recipe: {
        id: 0,
        title: '',
        description: '',
        serves: '',
        notes: '',
        time_to_cook: '',
        methods: []
      }
    }
  },
  methods: {
    undoLastAction() {
      if (this.action_stack.length !== 0) {
        const lastAction = this.action_stack.pop();
        if (lastAction.type == 'method') {
          this.$http.post('/fncookbook/save_method/', { id: lastAction.id, is_deleted: 0 }).then(() => {
            this.recipe.methods[lastAction.key].deleted = false;
          });
        } else {
          this.$http.post('/fncookbook/save_ingredient/', { id: lastAction.id, is_deleted: 0 }).then(() => {
            this.recipe.methods[lastAction.method_key].ingredients[lastAction.key].deleted = false;
          });
        }
      }
    },
    removeTag(tagId) {
      this.$http.post('/fncookbook/remove_tag/' + this.$route.params.recipe_id + '/' + tagId).then(() => {
        this.loadTags();
      });
    },
    addTag() {
      if (this.tag.length > 0) {
        this.$http.post('/fncookbook/add_tag/' + this.$route.params.recipe_id, { tag: this.tag }).then(response => {
          this.tags.push(response.data);
          this.tag = '';
        })
      }
    },
    loadTags() {
      this.$http.get('/fncookbook/get_tags/' + this.$route.params.recipe_id).then(response => {
        if (response.data.length) {
          this.tags = response.data;
        }
      })
    },
    deleteIngredient(method_key, id, key) {
      this.$http.post('/fncookbook/save_ingredient/', { id: id, is_deleted: 1 }).then(() => {
        this.$set(this.recipe.methods[method_key].ingredients[key], 'deleted', true);
        this.action_stack.push({ type: 'ingredient', id: id, method_key: method_key, key: key });
        this.snackbar_undo = true;
      });
    },
    deleteMethod(id, key) {
      this.$http.post('/fncookbook/save_method/', { id: id, is_deleted: 1 }).then(() => {
        this.action_stack.push({ type: 'method', id: id, key: key });
        this.$set(this.recipe.methods[key], 'deleted', true);
        this.snackbar_undo = true;
      });
    },
    addMethod() {
      this.recipe.methods.push({ id: 0, title: 'New Method', method: '', ingredients: [], new: true })
    },
    loadRecipe(id) {
      this.$http.get('/fncookbook/load_recipe_for_edit/' + id)
        .then((response) => {
          if (response.statusText == 'OK' && response.data instanceof Object) {
            this.recipe = response.data;
          }
        });
    },
    saveRecipe() {
      this.$http.post('/fncookbook/save_recipe/', this.recipe).then(response => {
        if (response.statusText == "OK") {
          this.snackbar = true;
          if (response.data.error == false) {
            if (this.$route.params.recipe_id == 0) {
              this.$router.push({ name: 'edit', params: { 'recipe_id': response.data.id } });
              return;
            }
            this.loadRecipe(response.data.id);
            this.action_stack = [];
          }
        }
      }).catch(error => {
        console.log(error)
      });
    },
    addIngredient(method) {
      if (this.recipe.methods[method].ingredients == undefined) {
        this.$set(this.recipe.methods[method], 'ingredients', []);
      }
      this.recipe.methods[method].ingredients.push({ id: 0, title: '', unit: '', quantity: '' });
    },
    close() {
      this.$router.push({ name: 'book' });
    },
  },
  mounted() {
    if (this.$route.params.recipe_id > 0) {
      this.loadRecipe(this.$route.params.recipe_id);
      this.loadTags(this.$route.params.recipe_id);
    }
  }
}
</script>

<style scoped>
.tag-btn-enter,
.tag-btn-leave-to {
  opacity: 0;
  transform: rotate3d(0, 0, 1, 90deg) scale3d(.8, .8, .8);
}

.tag-btn-enter-to {
  opacity: 1;
}

.tag-btn-enter-active,
.tag-btn-leave-active {
  transition: opacity .2s, transform .2s;
}
</style>