<script setup lang="ts">
import type { AxiosInstance } from "axios";
import { onMounted, inject } from "vue";
import { useCookbook } from "./stores/cookbook";
const cookbook = useCookbook();
const $http = inject("$http") as AxiosInstance;
onMounted(() => {
  $http.get(import.meta.env.BASE_URL + "cookbook.json").then((res) => {
    cookbook.recipes = res.data.recipes;
    cookbook.tags = res.data.tags;
    cookbook.ingredients = res.data.ingredients;
  });
});
</script>

<template>
  <n-page-header subtitle="Not for cooking lizards!">
    <template #title>
      <span style="font-weight: bold">FN</span>COOKBOOK
    </template>
  </n-page-header>
  <n-space vertical size="large">
    <RouterView />
  </n-space>
</template>
